## To classify a customer wherther he/she will be getting insurance or not

In [2]:
import pandas as pd
import seaborn as sb
import sktlear.linearmodel

In [4]:
data=pd.read_csv(r'/Users/joestalin/ggdata/insurance2.csv')

In [5]:
data.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [6]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [11]:
x=data[['age','sex','bmi','children','smoker','region','charges']]
y=data[['insuranceclaim']]

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2) #20 percent of the data will be used for testing

In [16]:
from sklearn.linear_model import LogisticRegression

logmodel=LogisticRegression()

In [17]:
logmodel.fit(X_train,y_train)

/Users/joestalin/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/joestalin/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [18]:
predictions = logmodel.predict(X_test)  #testing is taking place 
print(predictions)

[0 1 1 1 0 1 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 0 1 1 1 1 0 0 0 1
 0 1 1 1 0 0 1 1 0 1 0 0 1 1 0 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 1 1 1 1
 1 1 1 1 0 0 1 1 0 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1
 1 0 0 1 1 1 1 1 1 0 0 1 0 1 1 1 0 1 0 1 0 0 1 1 1 1 1 0 1 0 0 1 0 0 1 1 0
 0 1 1 0 0 1 1 1 0 1 1 1 1 1 1 0 1 1 0 1 1 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 1
 0 1 1 1 0 0 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 0 0 1 1
 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 0 1 0 0 0 1
 1 1 1 1 0 1 1 1 1]

In [19]:
#accuracy of the model
from sklearn.metrics import confusion_matrix, accuracy_score

cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [23]:
print('accuracy is %f', ac)
print('confussion matrix is')


print(cm)

accuracy is %f 0.8246268656716418
confussion matrix is
[[ 79  35]
 [ 12 142]]

In [30]:
#classify a new customer whether he/she will  get insurance or not
data={
    'age':[24],'sex':[1],'bmi':[26],'children':[0],'smoker':[0],'region':[1],'charges':[250000]
}


new = pd.DataFrame(data)
new.head()

   age  sex  bmi  children  smoker  region  charges
0   24    1   26         0       0       1   250000

In [29]:
logmodel.predict(new)

array([1])